html,body {
	background:#fff;
}
.clear {
	clear:both;
}
.nopad {
	padding:0 !important;
}

.ml010 {
	margin-left:-10px;
}

.mt30 {
	margin-top:30px !important;
}

.mt50 {
	margin-top:50px !important;
}

.mr10 {
	margin-right:10px !important;
}

.pt15 {
	padding-top:15px !important;
}

.p5 {
	padding:5px;
}
.row {
	padding: 5px 0;
}
.backlightgrey, .null {
	background:#f3f3f3 !important;
	color:#555753!important;
}
.backgrey, .null {
	background:#888888 !important;
	color:#fff !important;
}
.backgreen, .positif {
	background:#c6efce !important;
	color:#006100 !important;
}
.backlightgreen {
	background:#88DD88 !important;
}
.backorange {
	background:#f57900 !important;
	color:#ffffff !important;
}
.backred, .negatif {
	background:#ffc7ce !important;
	color:#9c0006 !important;
}
.colorred {
	color:#ff003d !important;
}

.bloc-grey {
	padding:5px;
	background:#888;
	text-decoration:none;
	color:#fff;
	margin:0 5px;
}

a.bloc-grey.active, a.bloc-grey:hover {
	background:#333;
	text-decoration:none;
	color:#fff;
}

.glyphicon-refresh {
	font-size:0.8em;
}

h4 {
	font-variant:small-caps;
	font-style: italic;
}

h6 {
	margin:0;
}

label {
	margin-top:3px;
	margin-bottom:0;
}
.ligne {
	padding:3px 0;
}

.badge {
	border-radius:0;
	line-height: inherit;
}
.hidden {
	display:none;
}

.full-input input, .full-input textarea {
	width:100%;
}

.modal-header {
	background:#333;
	color:#fff;
}

.modal-dialog {
	width:700px;
}

#page-sidebar {
	background:#f8f8f8;
	min-height:100%;
	position:fixed;
	top:50px;
	left:0;
	bottom:0;
}
#page-sidebar li.active a {
	background:#333;
}
#page-sidebar li a, #page-sidebar li .badge {
	color:#555;
}
#page-sidebar li.active a, #page-sidebar li.active .badge {
	color:#fff;
}


input[name="status"] {
	margin-left:3px;
}
.select2-container {
	min-width:200px !important;
	max-width:100%;
}

.ui-widget {
	margin-bottom:5px;
}

.male {
	color:#337ab7;
}
.female {
	color:#9a33b7;
}

.table {
	border-radius:4px;
	padding:2px 3px;
	background:#f8f8f8;
	margin:0;
}

.table > .ligne:nth-child(2n) {
	background:#fdfdfd;
}

.table > .row:nth-child(1) {
	font-weight:bold;
	background:#729fcf;
	color:white;
}
.table > .row {
	background:#f8f8f8;
}
.table > .row:nth-child(2n) {
	background:#fdfdfd;
}

/* Statuts */
.statut {
	display:inline-block;
	width:14px;
	height:14px;
	border-radius:3px;
	background:#fff;
	border:1px solid #888;
}

.statut.valid {background:#20c820;}
.statut.closed {background:#eeeeec;}
.statut.notpaid {background:#cc0000;}


/* Theme */
.navbar-default {
	background: #729fcf;
}
.navbar-default .navbar-nav > li > a {
	color:#fff;
}

/* HomePage */
.card {
	background:#fff;
	border-radius : 5px;
	border: 1px solid #FEFEFE;
	box-shadow: 0 0 30px #EFEFEF;
}

.border-left-success {
	border-left: 7px solid #729fcf;
}

.border-left-warning {
	border-left: 7px solid #cc0000;
}


/* Connexion */
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}